<div class=container>
    <div class = row>
        <div class = col-3 *ngFor="let item of postList | async"> 
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{item.title}}</mat-card-title>
              <mat-card-subtitle>{{item.subTitle}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{item.imageUrl}}" >
            <mat-card-content>
              <p>
                {{item.content}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        </div>
    </div>
</div>


