<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon class="example-icon" >favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="example-icon" >delete</mat-icon>
      </button>
      
      
    </mat-toolbar-row>
</mat-toolbar>

<app-post-list></app-post-list>